/* Estilo geral para a página */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
    flex-direction: column;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

/* Estilo para o formulário */
form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="number"] {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

button[type="submit"] {
    background-color: #016134;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #14d454;
}

/* Estilo para o resultado */
#resultado {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

/* Estilo para o seletor de idioma */
.language-selector {
    text-align: right;
    margin-bottom: 20px;
}

.language-selector label {
    margin-right: 10px;
    font-size: 14px;
}

select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

/* Estilo para o rodapé */
footer {
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
    color: #777;
    width: 100%; /* Garante que o rodapé ocupe toda a largura do contêiner */
}

footer p {
    margin: 0;
}
